# Credit Commitments Compliance Evaluation

### 4. Choose a Baseline Algorithm (Evaluate Algorithms)
    a) Split-out validation dataset (train/test/valid)
    b) Test options and evaluation metric (Performance Metrics)
    c) Spot Check Algorithms
    d) Compare Algorithms
 
#### Load Data

In [2]:
# Load libraries
import numpy as np
import pandas as pd
from pandas import Series, DataFrame, set_option
from pandas.plotting import scatter_matrix
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import pylab

%matplotlib inline

set_option('display.width', 100)
set_option('precision', 3)

# set default matplot figure size
pylab.rcParams['figure.figsize'] = (10.0, 8.0)

In [6]:
# set file path
url = '.\\data\\CreditOne-CCC-adjusted.csv'

# Load dataset
df = pd.read_csv(url, sep=",")

# set index Id column
df = df.set_index('Id')

print('Rows and columns count:', df.shape)
df.head(5)

Rows and columns count: (30000, 21)

,TotalLoan,Gender,Education,MaritalStatus,AgeGroup,HstPaySep15,HstPayAug15,HstPayJul15,HstPayJun15,HstPayMay15,...,BillSep15,BillJun15,BillApr15,PaySep15,PayAug15,PayJul15,PayJun15,PayMay15,PayApr15,DefaultPayment
Id,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,1,2,2,-1,-1,-2,...,3913,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,1,-1,2,0,0,0,...,2682,3272,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,3,0,0,0,0,0,...,29239,14331,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,3,0,0,0,0,0,...,46990,28314,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,7,-1,0,-1,0,0,...,8617,20940,19131,2000,36681,10000,9000,689,679,0

In [ ]:
usar (9, 20, 11, 13)